doctype html
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
//if lt IE 7
  html.no-js.is-ie.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.is-ie.is-ie7.lt-ie9.lt-ie8
//if IE 8
  html.no-js.is-ie.is-ie8.lt-ie9
//if IE 9
  html.no-js.is-ie.is-ie9
//if !IE
html.no-js(lang='en-GB')
  // <![endif]
  head
    title= title
    // Standard Meta
    meta(charset='utf-8')
    meta(name='keyword', content='Barclays,point-of-sale,Finance Provider,Partner Finance,personal,loans,offers')
    meta(name='description', content='Find out more about your loan from one of the UK’s largest providers of point-of-sale finance.')
    link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css')
    link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/bpf/main-min.css')
    script(type='text/javascript', src='/bpf/modernizr.js')
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width')
    //if lt IE 8
      link(href='/bpf/bootstrap-ie7.css', rel='stylesheet')
    //if lt IE 9
      script(src='/bpf/html5shiv.js')
      script(src='/bpf/respond.min.js')
    script(type='text/javascript').
      var sessionAttributionParameterPatterns = [
      ],requestAttributionParameterPatterns = [
      ];
  body
    #skipLinks
      ul
        li
          a(href='#mainContent') Skip to content
    .spa
      header.header
        .centred-container
          .side-collapse-container
            .container.container-header-top
              .logo-and-secure-site-wrapper
                .logo-banner__hamburger
                  button.navbar-toggle.pull-left(data-toggle='collapse-side', data-target='.side-collapse', data-target-2='.side-collapse-container', type='button')
                    span.icon.icon__hamburger
                .logo
                  a(href='/bpf/business', title='Barclays logo')
                    img.visible-sm(alt='Barlays logo', src='/bpf/images/logo-mobile.png ')
                    img.hidden-sm(alt='Barlays logo', src='/bpf/images/logo-desktop.png')
                .top-nav-box
                  .login-button-desktop.visible-md.visible-lg
                    a(href='https://pos.barclays-partnerfinance.com/', title='Business partner login')
                      | Business partner login
                  // START: Top navigation links
                  .top-navigation
                    .centred-container
                      nav.top-nav-bar
                        h2.hidden Top Navigation
                        ul.divider-list
                          li
                            a(href='/bpf/contact-us') Contact us
                          li
                            a(href='/bpf/about-us') About us
                          li
                            a(href='/bpf/cookies') Cookie policy
                  // END: Top navigation links
                  .login-button-mobile.visible-xs.visible-sm
                    a(href='https://pos.barclays-partnerfinance.com/', title='Login')
                      | Login
                .logo-banner__logo2.visible-md.visible-lg
                  p Partner Finance
            .clear-mobile
            .main-menu-box
              .container
                .logo-banner__logo2.visible-xs.visible-sm
                  p Partner Finance
                .site-section-tab
                  ul.nav-list
                    li.selected
                      a(href='/bpf/business', title='Business homepage')
                        | Business
                    li
                      a(href='/bpf/index.html', title='Personal homepage link')
                        | Personal
                .clear-mobile
                // get the HomePageID
                // START: Main navigtion links
                .main-navigation
                  nav
                    h2.hidden Main Navigation
                    ul.main-menu-list.visible-md.visible-lg
                      li.L1-1
                        a(href='/bpf/business/retail') Retail
                      li.L1-2
                        a(href='/business/motor') Motor
                      li.L1-3
                        a(href='/bpf/business/leisure') Leisure
                .clearfix
          .side-collapse.in
            nav(role='navigation')
              #cssmenu.mobile-nav.visible-xs.visible-sm
                // START: Mobile navigtion links
                h2.hidden Mobile Navigation
                ul
                  li.Business.Homepage.has-sub
                    a(href='/bpf/business')
                      span Business Homepage
                    ul
                      li
                        a(href='/bpf/business/retail')
                          span Retail
                      li
                        a(href='/business/motor')
                          span Motor
                      li
                        a(href='/bpf/business/leisure')
                          span Leisure
                  li.Business.partner.login
                    a(href='https://pos.barclays-partnerfinance.com/')
                      span Business partner login
                  li.Personal.has-sub
                    a(href='/bpf/index.html')
                      span Personal
                    ul
                      li
                        a(href='/bpf/personal/product-info')
                          span Product information
                      li
                        a(href='/bpf/personal/why-us')
                          span Why us
                      li
                        a(href='/bpf/personal/faq')
                          span FAQs
                  li.About.us
                    a(href='/bpf/about-us')
                      span About us
                  li.Contact.us
                    a(href='/bpf/contact-us')
                      span Contact us
      .js-cookie-message.hide
        .article-snippet
          .cms-content
            p
              | Updated cookie policy - we use cookies to give you the best browsing experience and to help us understand how you use our site. Cookies are small snippets of data stored on your computer. By continuing to use our website you are accepting our use of cookies. To find out more, read our
              br
              a(href='/bpf/cookies', title='cookie policy')
                | cookie policy
              | .
            a.cookie__close(href='')
              span.visuallyhidden Close
      .side-collapse-container
        block content
      .side-collapse-container
        // footer start
        footer.footer(role='contentinfo')
          nav.nav
            h2.hidden Footer Navigation
            .container
              ul.footer-nav
                li
                  a(href='http://www.barclays.com/') Barclays.com
                li
                  a(href='/bpf/important-information') Important Information
                li
                  a(href='http://www.barclays.co.uk/Accessibility/P1242623451150') Accessibility
                li
                  a(href='/bpf/privacy-policy') Privacy Policy
                li
                  a(href='/bpf/sitemap') Sitemap
              ul.copyright-list
                li.pull-right
                  p.copyright
                    | © Barclays
                    | 2015
          .container
            .footer-legal
              p
                | Barclays Partner Finance is a trading name of Clydesdale Financial Services Limited, a wholly owned subsidiary of Barclays Bank PLC. Clydesdale Financial Services Limited is authorised and regulated by the Financial Conduct Authority (Financial Services Register number: 311753).
                br
                | Registered in England. Registered No: 2901725. Registered Office: 1 Churchill Place, London E14 5HP.
                br
                | Finance is subject to status and only available to UK residents aged 18 and over.
        // footer end
      script(type='text/javascript', src='/bpf/jquery.js')
      script(type='text/javascript', src='/bpf/bootstrap.min.js')
      script(type='text/javascript', src='/bpf/bootstrap-accessibility.js')
      script(type='text/javascript', src='/bpf/jquery.cookie.js')
      script(type='text/javascript', src='/bpf/main.js')
      script(type='text/javascript', src='/bpf/bussines-fix.js')
      script(type='text/javascript', src='/bpf/personal-fix.js')
      script.
        $(document).ready(function(){
        $('.main-navigation ul').replaceWith('<ul class="main-menu-list visible-md visible-lg"><li class="L1-1"><a href="/bpf/personal/product-info">Product information</a></li><li class="L1-2"><a href="/bpf/personal/why-us">Why us</a></li><li class="L1-3"><a href="/bpf/personal/faq">FAQs</a></li></ul>');
        });
